<div *ngFor="let post of posts">
  <h2>{{post.title}}</h2>
  <h4>{{post.description}}</h4>

  <div *ngFor="let comment of post.comments">
    <span>{{comment.comment}} - {{comment.author.name}}</span>
  </div>
</div>
<div>
  <h4>Add Comment</h4>
  <form>
    <div class="form-group">
      <label for="newComment">New Comment</label>
      <input id="newComment" name="newComment" class="form-control" [(ngModel)]="newComment">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="addComment()">Add Comment</button>
    </div>
  </form>
</div>
